<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="my-4">Vass Gábor</h1>
      <h3 class="mb-3">Frontend fejlesztő</h3>
      <h4> Az IT mindig is közel állt a szívemhez. Ezt tanultam mindenhol, ez kötött le mindig, de a programozás szeretete csak évekkel később jött. Megannyi műszaki rajz és acélszerkezetes épület terv elkészítése után autodidakta módon kezdtem tanulni a webfejlesztést, de igazi áttörést és piacképes tudást a Struktúraváltás adott. Folyamatosan bővítem az ismereteimet és készen állok a gyakorlatban is kamatoztatni azokat.</h4>
      <h5>Végzettség: <strong>Mérnök informatikus</strong><br>
        Nyelvtudás: <strong>angol</strong></h5>
        <h4>
        <a href="https://business.progmasters.hu/frontend-fejleszto-jeloltek/">Link a Progmasters oldalára</a></h4>
    </div>
    <div class="col-6">
      <img class="mt-4" src="../../../assets/img/Vass_Gabor.jpg" alt="" width="300px">
    </div>
  </div>
</div>
